#   Default zbroker configuration
#
zpipes
    echo = I: binding zpipes service to 'ipc://@/zpipes/local'
    bind
        endpoint = ipc://@/zpipes/local
    logging
        #level = 
        #file = 
        #facility = 